.classpath
.DS_Store
.history
.idea
.idea_modules
.project
*.iml
*.sc
*.log
logs
target
src/main/assets/libraries
src/main/public/javascripts/*min.js
src/main/public/stylesheets/*min.css
src/main/public/stylesheets/*min.css.map
src/main/public/images/*
/dynamodb-local
project/
